<div class="button-panel">
  <button (click)="sendNotif('k1')">NOTIF k1</button>
  <button (click)="sendNotif('k2')">NOTIF k2</button>
  <button (click)="sendNotif('k3')">NOTIF k3</button>
</div>

<div class="business-panel">
  <div class="business-item">
    k1 <input type="checkbox" [ngModel]="isAktiv('k1')" (ngModelChange)="changed('k1')" />aktiv
  </div>
  <div class="business-item">k2 <input type="checkbox" [ngModel]="isAktiv('k2')" (ngModelChange)="changed('k2')" />aktiv</div>
  <div class="business-item">k3</div>
</div>

<pre>{{logger.log$ | async}}</pre>
<button (click)="logger.clear()">clear</button>
